language: c
env:
  global:
    - GAPROOT=gaproot
    - COVDIR=coverage
    # list of package to compile; io and profiling are always needed for coverage reports
    - GAP_PKGS_TO_BUILD="io profiling"

addons:
  apt_packages:
    - libgmp-dev
    - libreadline-dev
    - zlib1g-dev

matrix:
  include:
    - env: CFLAGS="-O2"

branches:
  only:
    - master

before_script:
  - export GAPROOT="$HOME/gap"
  - scripts/build_gap.sh
script:
  - scripts/build_pkg.sh && scripts/run_tests.sh
after_script:
  - bash scripts/gather-coverage.sh
  - bash <(curl -s https://codecov.io/bash)
